{% extends "templates/web.html" %}

{% block content %}
<div id="app"></div>
<div id="modals"></div>
<div id="popovers"></div>

<script>
  window.csrf_token = '{{ frappe.session.csrf_token }}'
  window.document.title = '{{ abbr }}'
  let link = document.querySelector("link[rel~='icon']");
  if (!link) {
    link = document.createElement('link');
    link.rel = 'icon';
    document.getElementsByTagName('head')[0].appendChild(link);
  }
  link.href = '{{ logo }}'
</script>

<script type="module" src="/assets/education_extension/student_portal/index.js"></script>
<link rel="stylesheet" href="/assets/education_extension/student_portal/index.css">

<style>
  .navbar,
  .web-footer {
    display: none !important;
  }
</style>
{% endblock %}
